/**************************
	GOOGLE FONTS
**************************/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,700i,900');
/**************************
	ERIC MEYERS RESET
**************************/
* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; margin-left:30px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
}

main{
    max-width: 940px;
    margin: 0 auto;
}

h2{
    font-size: 120%;
	font-weight: 300;
    text-transform: uppercase;
}

/**************************
		HEADER
**************************/

#headerContainer {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	
}

/* Style the navbar links */

#navbar {
	position: fixed; 
    background-color: #333; 
	height: 60px;
    left: 0; top: 0; 
    width: 100%;
    margin: 0 auto;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
	z-index: 100;
}

#navbar img {
	width: 30px;
	padding: 15px 0;
	-webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#navbar img:hover { width: 40px; }

#navbar h2 {
	position: relative;
	float: left;
	color: #eff80b;
	line-height: 60px;
	padding: 0 10px;
}

#navbar a {
	position: relative;
	left: calc(100% - 510px);
    float: left;
    line-height: 60px;
	padding: 0 10px;
	font-size: 120%;
	font-weight: 500; 
    text-decoration: none;
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#navbar a { color: #fff; }


#navbar a:hover {
    color: #eb6969;
	font-weight: 500;
	font-size: 140%;
}

/*
#star{
    transition: transform 5s ease;
}*/

#star{
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#button{
    cursor: pointer;
}

.animate{
    -webkit-animation: trace 1s linear forwards;
    animation: trace 1s linear forwards;
}

@-webkit-keyframes trace{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes trace{
    to{
        stroke-dashoffset: 0;
    }
}

/**
 * Loading Spinner
 */

#spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    z-index: 9999;
    width: 64px;
    height: 64px;

    -webkit-animation: spin 0.333s both infinite ease-in;

    animation: spin 0.333s both infinite ease-in;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes spin{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

